<div class="container">
  <h1><%= @product.name %></h1>
  <div class="product-details">
    <ul>
      <li>Category: <%= @product.category %></li>
      <li>Price: <%= @product.price %></li>
    </ul>
  </div>
  <div class="product-description">
    <h2>Description:</h2>
    <p><%= @product.description %></p>
  </div>
</div>
